.pagination {
  border-top: .5px solid $grey-2;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  color: $default-color;
  font-size: .8rem;

  span {
    color: $default-shade;
  }

  a {
    @include transition(opacity .3s ease-out);
    color: $default-color;
    opacity: .6;

    &:hover,
    &:focus {
      opacity: 1;
      text-decoration: none;
    }
  }

  .top {
  }

  .arrow {
    position: absolute;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
