@media print {
  .nav,
  .pagination {
    display: none;
  }

  .post {
    padding: 0px;
  }

  body {
    min-height: 0;
  }

  main {
    padding: 0px;
  }

  footer {
    background-color: transparent;
    color: black;
  }

  body {
     background-image: none !important;
  }
}
